/* screen.css - default layout */

body {
	background-color: #eee;
	font-family: 'Open Sans', 'Arial', 'Verdana', 'sans-serif';
}

#main_wrapper {
	margin: auto;

}

.main-column {
	max-width: 500px;
  padding: 20px;
  margin: auto;
}

.main-column .ui-body {
  padding: 0;
}

