<div class="ui-grid-c">
  <div class="ui-block-a">
    <a href="index.php?q=pageAddtransaction"
     data-role="button"
     data-icon="plus"
     class="linkAddTransaction"
     >Add</a>
  </div>
  <div class="ui-block-b">
    <a href="index.php?q=pageOverview"
   data-role="button"
   data-icon="grid"
   class="linkOverview"
   >Overview</a>
  </div>
  <div class="ui-block-c">
    <a href="index.php?q=pageBrowse"
       data-role="button"
       data-icon="search"
       class="linkbrowse"
       >Browse</a>
  </div>
  <div class="ui-block-d">
    <a href="#configMenu" 
        class="adminMenuLink" 
        data-role="button" 
        data-icon="gear"
        data-rel="popup"
        data-position-to="window"
        >Settings</a>
  </div>
</div>
<div 
  data-role="popup" 
  id="configMenu"
  class="ui-popup ui-body-a ui-content">
  <a href="index.php?q=pageBudget"
   data-role="button"
   data-icon="star"
   class="linkBudget"
   >Budget</a>
</div>