{# Month Overview #}
<div class="page" data-role="page">
    <div data-role="header">
      <h1>Overview</h1>

    </div>
    <div class='content' data-role="content">
      <p>Nothing here yet</p>
    </div>
    <div class='footer' data-role="footer">
      {{ footer|raw }}
    </div>
  </div>