  <div class="page" data-role="page">
    <div data-role="header">
      <h1>Spara transaktion</h1>

    </div>
    <div class='content' data-role="content">
      {{ transactionForm|raw }}
    </div>
    <div class='footer' data-role="footer">
      {{ footer|raw }}
    </div>
  </div>